<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TCPStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <TCPStreamer.Properties.Settings>
            <setting name="ServerIP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>69.247.66.235</string>
                        <string>98.197.134.151</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpIP" serializeAs="String">
                <value>192.168.0.98</value>
            </setting>
            <setting name="StartUpPort" serializeAs="String">
                <value>8001</value>
            </setting>
        </TCPStreamer.Properties.Settings>
    </userSettings>
</configuration>
